/** Less based style sheet. @author Nat Welch */
* { margin: 0; padding: 0; }

/** Fix float problem. http://www.positioniseverything.net/easyclearing.html */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.download { margin-top: 100px; display: block; text-align: right; }

#resume { width: 800px; margin: 50px auto; line-height: 1.4em; }
#resume h1, #resume h2, #resume h3, #resume h4, #resume h5, #resume h6 { border: 0; }
#resume h1 { font-size: 30pt; margin-top: 0.5em; float: left; font-weight: normal; }
#resume h2 { clear: both; font-size: 15pt; margin-top: 0.5em; border-bottom: 4px solid #c0d0e0; padding-bottom: 0.0em; font-variant: small-caps; letter-spacing: 2px; }
#resume h3 { margin-top: 1em; font-size: 13pt; }
#resume h4 { font-size: 11pt; margin-top: 1em; float: left; }
#resume h5 { color: #555555; font-size: 11pt; font-weight: normal; margin-top: 1em; text-align: right; font-style: italic; }
#resume h6 { color: #555555; font-size: 11pt; font-weight: normal; margin-top: 0em; text-align: right; font-style: italic; }
#resume ul, #resume ol { margin-left: 2em; }
#resume ul ul, #resume ul ol, #resume ol ul, #resume ol ol { margin-top: 0; margin-bottom: 0; }
#resume blockquote { border-left: 5px solid #e0e0e0; margin: 1em 0; padding-left: 0.6em; }
#resume a, #resume a:visited { color: #4183c4; text-decoration: none; }
#resume a:hover { text-decoration: underline; }
#resume img { max-width: 100%; }
#resume blockquote { margin: 1em 0; border-left: 5px solid #e0e0e0; padding-left: 0.6em; color: #333333; }
#resume dt { font-weight: bold; margin-left: 1em; }
#resume dd { margin-left: 2em; margin-bottom: 1em; }
